<button type="@Type"
        class="@CssClasses" 
        @onclick="OnClick">
    @ChildContent
</button>

@code {

    [Parameter]
    public string CssClasses { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected override void OnInitialized() {
        if (string.IsNullOrEmpty(Color) || Color.Equals("Uncolored", StringComparison.OrdinalIgnoreCase)) 
            CssClasses += "button";
        else if (Color.Equals("Colored", StringComparison.OrdinalIgnoreCase)) CssClasses += "accent-button";

        if (Type is null) Type = "button";
    }

}