@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #fff;
    --accent-primary: #0078d7;
    --accent-secondary: #106dbe;
    --accent-tertiary: #005a9e;
    --fade-border: #dadada;
}

* {
    font-family: 'Inter', sans-serif;
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    padding: 0;
    margin: 0;
    cursor: default;
}

.menu li {
    margin: 0 0.3rem;
}

.menu li a {
    list-style-type: none;
    margin: 0.5rem 0;
    display: inline-flex;
    padding: 4px 0.6rem;
    transition-property: all;
    transition-duration: 300ms;
    border-bottom: 2px solid #fff2;
}

.menu li a:hover {
    background-color: #f3f4f5;
    color: var(--accent-primary);
}

.enabled {
    margin: 0.5rem 0.5rem !important;
    padding: 4px 0.1rem !important;
    transition-timing-function: ease;
    border-bottom: 2px solid var(--accent-primary) !important;
    
}

.enabled:hover {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0.6rem !important; 
    padding-right: 0.6rem !important; 
}

.logo {
    font-weight: 200;
    font-size: 28px;
    padding-top: 0.5rem;
    margin-left: 2rem;
    justify-self: center;
    align-self: center;
}

.user {
    margin-right: 2rem;
    padding-top: 0.1rem;
}

.primary-col {
    color: var(--accent-primary);
}

.secondary-col {
    color: #000;
}

/* Cards */

.card {
    background: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    transition: 500ms ease;
    color: #666;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.card:hover {
    color: #000;
    border: 1px solid #0078d7;
    /* box-shadow: 0 0 3px #005a9e; */
}

/* Pages styles */

.waiting {
    background: repeating-linear-gradient(to left, #fff, #ddd);
    animation: load 5s linear infinite forwards;
    background-size: 200% auto;
}

@keyframes load {
     0% { background-position: -200% 0; }
     100% { background-position: 0 0; }
 }

.card-container {
    position: relative;
    width: 15rem;
    height: 15rem;
}

.bottom-display {
    position: absolute;
    bottom: 0.7rem;
    right: 0.7rem;
}
.prompt {
    font-size: 20px;
}

.prompt > * {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}

.pickbox {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-flex;
    background: #ccc;
    padding: 2px;
}

.pickbox .remove {
    margin-left: 2px;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.info-card {
    padding: 4px;
    border: 2px solid #005a9e;
    background: #9fd3e3;
    border-radius: 4px;
}