@page "/Dashboard"
@using TGenWebApp.Services
@using Microsoft.AspNetCore.Components
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager Manager;
@inject IJSRuntime JsRuntime;

<style>
	.waiting {
		background: repeating-linear-gradient(to left, #fff, #ddd);
		animation: load 5s linear infinite forwards;
		background-size: 200% auto;
	}
	
	@@keyframes load {
        0% { background-position: -200% 0; }
      100% { background-position: 0 0; }
   }
</style>

<div style = "padding: 3rem 7rem 0 7rem">

	<h1>
		<div class = "waiting" style = "width: 15rem; height: 3rem; 
			  display: @(_welcome == null ? "block" : "none")"></div>
		@_welcome
	</h1>

	<div style = "display: @(_session == null ? "block" : "none")">

		<CardLayout ChildrenHeight = "10rem"
		            ChildrenWidth = "15rem">
			<Card>
				<div class = "waiting" style = "width: 10rem; height: 2rem;"></div>
				<div class = "waiting" style = "width: 8rem; height: 1rem; padding-left: 1rem; margin-top: 1rem;"></div>
			</Card>
			<Card>
				<div class = "waiting" style = "width: 10rem; height: 2rem;"></div>
				<div class = "waiting" style = "width: 8rem; height: 1rem; padding-left: 1rem; margin-top: 1rem;"></div>
			</Card>
		</CardLayout>

	</div>

	<div style = "display: @(_session == null ? "none" : "block")">
		<CardLayout ChildrenHeight = "10rem"
		            ChildrenWidth = "15rem">
			@* Total Designations available *@
			<Card>
				<div style = "position: relative; width: 15rem; height: 15rem;">
					<h2>Total Designations:</h2>
					<div class = "counter" style = "position: absolute; bottom: 10px; right: 10px; font-size: 48px">
						@if (_designationCount is null) {
							<div class = "waiting"
							     style = "width: 4rem; height: 4rem;">
							</div>
						} else {
							@_designationCount
						}
					</div>
				</div>
			</Card>
			@* Total Faculty count *@
			<Card>
				<div style = "position: relative; width: 15rem; height: 15rem;">
					<h2>Total Faculty:</h2>
					<div class = "counter" style = "position: absolute; bottom: 10px; right: 10px; font-size: 48px">
						@if (_facultyCount is null) {
							<div class = "waiting"
							     style = "width: 4rem; height: 4rem;">
							</div>
						} else {
							@_facultyCount
						}
					</div>
				</div>
			</Card>
		</CardLayout>
	</div>
</div>

@code {

	private Session _session;
	private int? _facultyCount, _designationCount;
	private string _welcome;

	protected override async Task OnAfterRenderAsync(bool firstRender) {
		var sess = await LocalStorage.GetItemAsync<string>(Constants.SessionId);
		_session = SessionManager.GetSession(sess);
		if (_session is null) Manager.NavigateTo("/");
		else _welcome = $"Welcome, {_session.Name}!";
		await UpdateCards();
		StateHasChanged();
	}

	private async Task UpdateCards() {
		if (_session is null) {
			Logger.Log("Error getting session when /Dashboard is open", LogMode.Error);
			return;
		}
		var inst = InstitutionManager.GetInstitution(_session.InstitutionId);
		var designations = await inst.GetCollegeConfigResponse();
		_designationCount = designations.designations.Count;
		var faculties = await inst.GetCollegeFaculties();
		_facultyCount = faculties.Count;
		Console.WriteLine($"Designation: {_designationCount}, Faculty: {_facultyCount}");
	}

}