@page "/Manage/Departments";

<h1 style='padding-left: 10vw;'>Departments</h1>

<CardLayout ChildrenHeight='15rem'
            ChildrenWidth='15rem'>
    <Card>
        <h2>Computer Science PG</h2>
        <p>HOD: Dr R. Kumar</p>
        <p>Courses: MCA, MSc</p>
    </Card>
    <Card>
        <h2>Computer Science</h2>
        <p>HOD: Fr. Lijo P. Thomas</p>
        <p>Courses: BCA, BSc</p>
    </Card>
    <Card>
        <h2>Commerce</h2>
        <p>HOD: Prof. VijayaKumarR</p>
        <p>Courses: BCom</p>
    </Card>
    <Card>
        <h2>Management</h2>
        <p>HOD: C.Surendranath Reddy</p>
        <p>Courses: MCom</p>
    </Card>
    <Card>
        <input type='text' placeholder='Department'/>
        <p>Add a course and pick the courses in this department there.</p>
    </Card>
</CardLayout>