@page "/Features"
@inject IJSRuntime JSRuntime;

<style>
    .main {
        flex-direction: column; padding-top: 10rem;
    }

    .obj {
        display: flex; justify-content: flex-start; flex-direction: column;
    }

    .image {
        width: 30rem; 
        height: 45rem; 
        background-size: contain; 
        background-repeat: no-repeat;
        float: right;
        position: relative;
    }

    .image-left {
        margin-left: auto;
    }

    .text-left {
        padding-left: 1rem;  
    }

    .text-right {
        padding-right: 1rem; padding-left: 1rem;
    }

    .overlay {
        position: absolute;
        background-size: contain; 
        background-repeat: no-repeat;
        bottom: 0;
        width: 80%;
        height: 80%;
    }

    footer div {
        width: 100vw;
        height: 30vh;
        background-image: linear-gradient(to right, rgb(241,90, 36) 50%, rgb(241,90,36) 55%, rgb(236,29,121) 85%);
        padding: 1rem 3rem;
        max-width:100%;
    }

    @@media only screen and (max-width: 800px) {
        .image {
            background-image: none !important;
        }

        .overlay {
            left: 50%;
            transform: translateX(-50%);
        }

        .obj:nth-child(even) {
            flex-direction: column-reverse;
        }

        .main {
            padding-top: 4rem;
        }
    }

    @@media only screen and (min-width: 800px) {    
        .obj {
            flex-direction: row;
        }

        .text-left {
            padding-left: 10rem; width: 40vw; 
        }

        .text-right {
            padding-right: 10rem; padding-left: 14rem; width: 40vw; text-align: right;
        }

        .overlay {
            width: 60%;
            height: 60%;
            margin-right: 2rem;
            top: 20%;
            left: 20%;
        }

        .obj:nth-child(2) .overlay {
            margin-top: 60px;
        }

        .obj:nth-child(2) .text-right {
            margin-top: 20px;
        }

        .obj:nth-child(3) .overlay {
            margin-top: 180px;
        }

        .obj:nth-child(3) .text-left {
            margin-top: 220px;
        }

        .obj:last-child {
            height: 40vh !important;
        }

        .obj {
            width: 100%; height: 100vh;
        }
    }
</style>


<section @ref="section" class="main">
    <div class="obj" >
        <div style="background-image: url('img/img2.svg');" class="image" data-rellax-speed="2">
            <div class="overlay rellax"  style= "background-image: url('img/percentages.svg');" data-rellax-speed="2"></div>
        </div>
        <div class="text-left rellax" data-rellax-speed="5">
            <h2>Image 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere, metus id gravida imperdiet, mi lectus tempor nisi, in tristique urna erat non mauris. In id mattis ipsum. Curabitur laoreet cursus enim, in laoreet turpis semper eu. Pellentesque venenatis vehicula viverra. Aenean massa magna, pretium nec nisl a, ullamcorper ultricies ante. Donec porttitor hendrerit pulvinar. Quisque mi mi, ultricies nec ante at, volutpat gravida dolor. Phasellus sit amet sem metus. Etiam lacinia ac dolor et varius. Proin blandit dolor nunc, sed ultricies purus fermentum vel. Fusce vestibulum sagittis felis, a tempus libero semper at. Proin feugiat in lacus venenatis consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed leo tellus, porttitor ut nulla ut, lacinia porta risus. Quisque ac mattis felis.</p>
        </div>
    </div>

    <div class="obj">
        <div class="text-right" data-rellax-speed="5">
            <h2>Image 2</h2>
            <p>Integer commodo maximus nulla, eu accumsan odio auctor nec. Quisque volutpat posuere est a pellentesque. Etiam faucibus ante purus, sed fermentum dui posuere sed. Pellentesque a nunc massa. Phasellus posuere, nisl quis elementum finibus, magna odio consequat ligula, a feugiat ex sapien sit amet metus. Quisque nunc metus, ultricies ac viverra et, volutpat sit amet massa. Praesent at ipsum vel velit ornare dignissim vitae ut leo. Sed at eros nec urna mattis ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer dictum mauris risus, non tincidunt leo condimentum a. Vestibulum tempus dictum odio, non bibendum elit interdum ac. Suspendisse auctor gravida eros, ac elementum tellus fringilla a. In lorem ligula, consequat in eros sed, rhoncus volutpat felis.</p>
        </div>
        <div style="background-image: url('img/img1.svg'); " class="image image-left rellax" data-rellax-speed="2" > 
            <div class="overlay rellax" style="background-image: url('img/review.svg');" data-rellax-speed="2"></div>
        </div>
    </div>

    <div class="obj">
        <div style="background-image: url('img/img3.svg'); " class="image rellax" data-rellax-speed="2">
            <div class="overlay rellax"  style= "background-image: url('img/dashboard.svg');" data-rellax-speed="2"></div>
        </div>
        <div class="text-left rellax" data-rellax-speed="2">
            <h2>Image 3</h2>
            <p>Morbi at lectus sapien. Vivamus semper gravida dolor, nec gravida justo porttitor quis. In pulvinar, erat eu gravida lobortis, metus tortor pulvinar augue, nec porttitor libero erat vel ligula. Maecenas non felis id metus aliquet accumsan. Nulla velit lacus, pharetra aliquam congue ut, ultricies quis diam. Praesent purus dui, tempor fermentum elit in, hendrerit aliquet ligula. Mauris ut varius lorem, et suscipit quam. Maecenas id sem et metus elementum ullamcorper. Suspendisse potenti.</p>
        </div>
    </div>
</section>

<footer style="overflow: hidden;">
    <img src="img/img4-01.svg" style="margin-bottom: -16px;">     
    <div>
        text
    </div>
</footer>

@code {

    private ElementReference section;

    protected override async Task OnAfterRenderAsync(bool firstRender){
        if (firstRender){
            await JSRuntime.InvokeVoidAsync("relax");
        }
    }
}