@page "/"

<section class="hero-container">
<img src="img/ScheduleImage.svg" class="hero-img">
<div class="hero-p">
    <h1 class="hero-text">The only management tool you'll need.</h1>
    <p>TGen is a college management tool. </p>
    <p>Check out&nbsp;<a href="features.html">why</a>.</p>
</div>
</section>