@page "/"

<div class="container">
    <div class="row">
        <div class="col">
            Here we put the "ScheduleImage.svg"
            <img src="~/images/ScheduleImage.svg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col">
            This is where we place our content, like a small discription about our system.
            <br />
            <h3> <b> <i> Example : T-Gen, the only scheduling system for the colleges </i></b> </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">
                Here we write some core content
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Here we place a button <b>"Learn More"</b>, this might lead to the docs.
        </div>
    </div>
</div>
