@page "/"

<section class="hero-container">
<img src="img/ScheduleImage.svg" class="hero-img">
<div class="hero-p">
    <h1 class="hero-text">The only management tool you'll need.</h1>
    <p>FWAS is Faculty Workload Allocation System. </p>
    <p>Check out&nbsp;<a href="Features">what it does</a>.</p>
</div>
</section>