@if(!isLoggedIn) {
    OutNav = "block";
    InNav = "none";
} else {
    OutNav = "none";
    InNav = "block";
}

<header style="display: @OutNav;">
<nav>
    <div class="logo-header">
    <NavLink href="" Match="NavLinkMatch.All">
        TGen.
    </NavLink>
    </div>
    <div class="nav-button">
        <svg 
            aria-hidden="true" focusable="false" 
            data-prefix="fad" data-icon="bars" 
            role="img" xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 448 512" class="svg-inline--fa fa-bars fa-w-14 fa-9x">
            <g class="fa-group">
                <path fill="currentColor" 
                    d="M16 288h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16z" 
                    class="fa-secondary"></path>
                <path fill="currentColor" 
                    d="M432 384H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 80v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16z" class="fa-primary">
                </path>
            </g>
        </svg>
    </div>
    <div class="menu-container">
        <ul>
            <li><NavLink href="Features" Match="NavLinkMatch.All">Features</NavLink></li>
            <li class="login" @onclick="ShowLogin">
                Login
                <!-- Font Awesome Arrow -->
                <svg aria-hidden="true" focusable="false" 
                        data-prefix="fad" data-icon="angle-down" 
                        role="img" xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 320 512" class="arrow @ArrowState">
                    <g class="fa-group">
                        <path fill="currentColor" 
                            d="M160 256.14l-56.51 56.47-96.44-96.15a23.77 23.77 0 0 1-.18-33.61l.18-.18 22.59-22.51a23.94 23.94 0 0 1 33.85 0z" 
                            class="arrow-primary">
                        </path>
                        <path fill="currentColor" 
                            d="M313 182.57L290.21 160a23.94 23.94 0 0 0-33.85 0L103.47 312.61 143 352l.06.06a24 24 0 0 0 33.93-.16L313 216.36l.18-.17a23.78 23.78 0 0 0-.18-33.62z" 
                            class="arrow-secondary">
                        </path>
                    </g>
                </svg>
            </li>
            <li class="mob-login">
                <a href="Login">Login</a>
            </li>
        </ul>
    </div>
</nav>
</header>

<div class="login-form @FormDisp">
    <form method="POST">
        <input type="email" placeholder="Email" class="textbox"> <br />
        <input type="password" placeholder="Password" class="textbox"> <br /> <br />
        <div class="buttons">
            <Button Type="submit" Color="Colored">Login</Button>
            <Button Type="reset" Color="Uncolored">Reset</Button>
            <Button OnClick="TestLogin">Test</Button>
        </div>
    </form>
</div>

@* Logged In Nav Bar Below *@

<header style="display: @InNav">
    <nav class="dashboard-nav">
        <div><a class="logo">TGen.</a></div>
        <div class="menu">
            <ul>
                <li><NavLink href="Dashboard" Match="NavLinkMatch.All">Dashboard</NavLink></li>
                <li><NavLink href="Manage">Manage</NavLink></li>
                <li><NavLink href="Messages">Messages</NavLink></li>
                <li><NavLink href="Preferences">Preferences</NavLink></li>
            </ul>
        </div>
        <div class="user">
            <svg aria-hidden="true" 
                focusable="false" data-prefix="fad" 
                data-icon="user" role="img" 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 448 512" class="avatar"
                width="20px" height="20px">
                <g class="fa-group">
                    <path fill="currentColor" d="M352 128A128 128 0 1 1 224 0a128 128 0 0 1 128 128z" 
                    class="primary-col"></path>
                    <path fill="currentColor" d="M313.6 288h-16.7a174.1 174.1 0 0 1-145.8 0h-16.7A134.43 134.43 0 0 0 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6A134.43 134.43 0 0 0 313.6 288z" 
                    class="secondary-col"></path>
                </g>
            </svg>
            John
            <svg aria-hidden="true" focusable="false" 
                data-prefix="fad" data-icon="angle-down" 
                role="img" xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 320 512" class="arrow" width="20px" height="20px">
                <g class="fa-group">
                    <path fill="currentColor" 
                        d="M160 256.14l-56.51 56.47-96.44-96.15a23.77 23.77 0 0 1-.18-33.61l.18-.18 22.59-22.51a23.94 23.94 0 0 1 33.85 0z" 
                        class="primary-col">
                    </path>
                    <path fill="currentColor" 
                        d="M313 182.57L290.21 160a23.94 23.94 0 0 0-33.85 0L103.47 312.61 143 352l.06.06a24 24 0 0 0 33.93-.16L313 216.36l.18-.17a23.78 23.78 0 0 0-.18-33.62z" 
                        class="secondary-col">
                    </path>
                </g>
            </svg>
        </div>
    </nav>
</header>


@code {
    public string OutNav, InNav;
    private bool dispStatus;

    public bool isLoggedIn = false;

    public string FormDisp => dispStatus ? "login-visible" : "";
    public string ArrowState => dispStatus ? "arrow-up" : "";

    private void ShowLogin() {
        dispStatus = !dispStatus;
    }

    private void TestLogin() {
        isLoggedIn = true;
        dispStatus = false;
    }
}
