@using FWASWebApp.Services
@inject IJSRuntime JsRuntime;

<style>
    .card-filler {
        position: relative; 
        width: 15rem; 
        height: 15rem;
    }
       
    .counts {
        font-size: 52px; 
        padding-top: 0.7rem; 
        padding-left: 0.7rem;
    }
       
    .description{
        position: absolute; 
        bottom: 10px; 
        right: 10px
    }
</style>

<div style="padding: 3rem 7rem 0 7rem">
    <h1>
        <div class="waiting" style="width: 15rem; height: 3rem; 
			  display: @(_welcome == null ? "block" : "none")"></div>
        @_welcome
    </h1>

    <div style="display: @(Session == null ? "block" : "none")">

        <CardLayout ChildrenHeight="10rem"
                    ChildrenWidth="15rem">
            <Card>
                <div class="waiting" style="width: 10rem; height: 2rem;"></div>
                <div class="waiting" style="width: 8rem; height: 1rem; padding-left: 1rem; margin-top: 1rem;"></div>
            </Card>
            <Card>
                <div class="waiting" style="width: 10rem; height: 2rem;"></div>
                <div class="waiting" style="width: 8rem; height: 1rem; padding-left: 1rem; margin-top: 1rem;"></div>
            </Card>
        </CardLayout>

    </div>

    <div style="display: @(Session == null ? "none" : "block")">
        <CardLayout ChildrenHeight="10rem"
                    ChildrenWidth="15rem">
            @* Total Designations available *@
            <Card>
                <div class="card-filler">
                    <h2 class="description">Designations</h2>
                    <div class="counts">
                        @if (_designationCount is null) {
                            <div class="waiting"
                                 style="width: 4rem; height: 4rem;">
                            </div>
                        }
                        else {
                            @_designationCount
                        }
                    </div>
                </div>
            </Card>
            @* Total Faculty count *@
            <Card>
                <div class="card-filler">
                    <h2 class="description">Faculties</h2>
                    <div class="counts">
                        @if (_facultyCount is null) {
                            <div class="waiting"
                                 style="width: 4rem; height: 4rem;">
                            </div>
                        }
                        else {
                            @_facultyCount
                        }
                    </div>
                </div>
            </Card>
            @* Total Buildings *@
            <Card>
                <div class="card-filler">
                    <h2 class="description">Buildings</h2>
                    <div class="counts">
                        @if (_buildingCount is null) {
                            <div class="waiting"
                                 style="width: 4rem; height: 4rem;">
                            </div>
                        }
                        else {
                            @_buildingCount
                        }
                    </div>
                </div>
            </Card>
            @* Total Rooms *@
            <Card>
                <div class="card-filler">
                    <h2 class="description">Rooms</h2>
                    <div class="counts">
                        @if (_roomCount is null) {
                            <div class="waiting"
                                 style="width: 4rem; height: 4rem;">
                            </div>
                        }
                        else {
                            @_roomCount
                        }
                    </div>
                </div>
            </Card>

            @* Total Departments *@
            <Card>
                <div class="card-filler">
                    <h2 class="description">Deaneries</h2>
                    <div class="counts">
                        @if (_roomCount is null) {
                            <div class="waiting"
                                 style="width: 4rem; height: 4rem;">
                            </div>
                        }
                        else {
                            @_deaneryCount
                        }
                    </div>
                </div>
            </Card>
            @* Total Deaneries *@
            <Card>
                <div class="card-filler">
                    <h2 class="description">Departments</h2>
                    <div class="counts">
                        @if (_roomCount is null) {
                            <div class="waiting"
                                 style="width: 4rem; height: 4rem;">
                            </div>
                        }
                        else {
                            @_deptCount
                        }
                    </div>
                </div>
            </Card>
            @* Total Courses *@
            <Card>
                <div class="card-filler">
                    <h2 class="description">Courses</h2>
                    <div class="counts">
                        @if (_roomCount is null) {
                            <div class="waiting"
                                 style="width: 4rem; height: 4rem;">
                            </div>
                        }
                        else {
                            @_courseCount
                        }
                    </div>
                </div>
            </Card>
            @* Total Programmes *@
            <Card>
                <div class="card-filler">
                    <h2 class="description">Programmes</h2>
                    <div class="counts">
                        @if (_roomCount is null) {
                            <div class="waiting"
                                 style="width: 4rem; height: 4rem;">
                            </div>
                        }
                        else {
                            @_programmeCount
                        }
                    </div>
                </div>
            </Card>
        </CardLayout>
    </div>
</div>

@code {

    [Parameter]
    public Session Session { get; set; }

    private int? _facultyCount, _designationCount, _buildingCount,
    _roomCount, _courseCount, _programmeCount, _deaneryCount, _deptCount;

    private string _welcome;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _welcome = $"Welcome, {Session.Name}!";
            StateHasChanged();
            await UpdateCards();
        }
    }

    private async Task UpdateCards() {
        var inst = InstitutionManager.GetInstitution(Session.InstitutionId);
        var designations = await inst.GetCollegeConfigResponse();
        _designationCount ??= designations.designations.Count;
        var faculties = await inst.GetCollegeFaculties();
        _facultyCount ??= faculties.Count;
        var buildings = await inst.GetCollegeBuildings();
        _buildingCount ??= buildings.Count;
        var rooms = await inst.GetCollegeRooms();
        _roomCount ??= rooms.Count;
        var depts = await inst.GetDepartments();
        _deptCount ??= depts.Count;
        var deaneries = await inst.GetDeaneries();
        _deaneryCount ??= deaneries.Count;
        var programmes = await inst.GetProgrammes();
        _programmeCount ??= programmes.Count;
        var courses = await inst.GetCourses();
        _courseCount ??= courses.Count;
        StateHasChanged();
    }

}