@page "/error"
@using FWASWebApp.Services

@if (ErrorType == "404") {
    <h1>404. That's an error.</h1>
    <p>We can't seem to find that page.</p>
    <p> Ensure you have logged in with the right credentials.
        Not @Session.Name? Hit Logout and Login with your credentials.</p>
}

@code {

    [Parameter]
    public Session Session { get; set; }
    
    [Parameter]
    public string ErrorType { get; set; }

}
