@page "/error"
@using FWASWebApp.Services

@if (ErrorType == "404") {
    <div style="margin: 4rem 10vw; display: flex; flex-direction: column; align-items: center; justify-content: center">
        <img src="img/404.svg" alt="404" width="500px" />
        <h1>You've reached a deadend.</h1>
        <h2>The path /@Path does not exist, or you don't have permission to access this page.</h2>
        <p>Not @Session.Name? Logout from this account and try logging in with your credentials.</p>
    </div>
}

@code {

    [Parameter]
    public Session Session { get; set; }
    
    [Parameter]
    public string Path { get; set; }
    
    [Parameter]
    public string ErrorType { get; set; }

}
