@using System.Diagnostics

<div class="card" style="@Width @Height @Length @Breadth">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Height {get; set; }
    [Parameter]
    public string Width {get; set; }
    [Parameter]
    public string Length {get; set; }
    [Parameter]
    public string Breadth {get; set; }

    [Parameter]
    public RenderFragment ChildContent {get; set; }

    protected override void OnInitialized() {
        Height = Height is null ? "" : $"height: {Height} !important;";

        Width = Width is null ? "" : $"width: {Width} !important;";

        Length = Length switch {
            "Short" => "grid-row: span 1; min-height: 7rem;",
            "Tall" => "grid-row: span 4; min-height: 21rem;",
            _ => "grid-row: span 2; min-height: 14rem;"
        };

        Breadth = Breadth switch {
            "Narrow" => "grid-column: span 1;",
            "Wide" => "grid-column: span 4;",
            _ => "grid-column: span 2;"
        };
    }
}